<div class="row">
  <div class="col">
    <h3>{{title}}</h3>
    <hr>
    <div class="row">
      <div class="col-12 flex flex-row flex-wrap justify-content-center">
          <app-movie-card *ngFor="let movie of getMovieList()" [info]="movie" [addButton]="addButton"
          (saveMovie)="addMovie($event)" [showDetail]="showDetail"></app-movie-card>
      </div>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
      [totalRecords]='totalRecords'></p-paginator>
  </div>
</div>
