.form-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  width: 70%;

  label {
    width: 35%;
    margin: 0;
    text-align: right;
    margin-right: 2vw;
  }
  .input-wrapper {
    width: 35%;
    display: inline;
    input {
      width: 100%;
    }
  }
}
:host
  ::ng-deep
  .p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-highlight {
  background: none;
  color: #7bbce5;
}
