@import "./theme.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import url("./assets/styles/color.scss");
@import url("./assets/styles/layout.scss");
@import url("./assets/styles/custom_primeng.scss");

@font-face {
  font-family: RobotoCond;
  src: url("./assets/fonts/RobotoCondensed-Regular.woff");
}
@font-face {
  font-family: RobotoCondLight;
  src: url("./assets/fonts/RobotoCondensed-Light.woff");
}
@font-face {
  font-family: RobotoCondBold;
  src: url("./assets/fonts/RobotoCondensed-Bold.woff");
}
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.woff");
}
@font-face {
  font-family: PoppinsLight;
  src: url("./assets/fonts/Poppins-Light.woff");
}
@font-face {
  font-family: PoppinsBold;
  src: url("./assets/fonts/Poppins-Bold.woff");
}

$margin-directions: ("m", "mx", "my", "mr", "ml", "mb", "mt");
$padding-directions: ("p", "px", "py", "pr", "pl", "pb", "pt");

@for $i from 1 through 6 {
  @each $direction in $margin-directions {
    .#{$direction}-#{$i} {
      @if $direction == "m" {
        margin: #{$i * 5}px;
      } @else if $direction == "mx" {
        margin: 0 #{$i * 5}px;
      } @else if $direction == "my" {
        margin: #{$i * 5}px 0;
      } @else if $direction == "mr" {
        margin-right: #{$i * 5}px;
      } @else if $direction == "ml" {
        margin-left: #{$i * 5}px;
      } @else if $direction == "mb" {
        margin-bottom: #{$i * 5}px;
      } @else if $direction == "mt" {
        margin-top: #{$i * 5}px;
      }
    }
  }
  @each $direction in $padding-directions {
    .#{$direction}-#{$i} {
      @if $direction == "p" {
        padding: #{$i * 5}px;
      } @else if $direction == "px" {
        padding: 0 #{$i * 5}px;
      } @else if $direction == "py" {
        padding: #{$i * 5}px 0;
      } @else if $direction == "pr" {
        padding-right: #{$i * 5}px;
      } @else if $direction == "pl" {
        padding-left: #{$i * 5}px;
      } @else if $direction == "pb" {
        padding-bottom: #{$i * 5}px;
      } @else if $direction == "pt" {
        padding-top: #{$i * 5}px;
      }
    }
  }
}

body {
  font-family: "PoppinsLight";
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsBold";
}
h3 {
  letter-spacing: 0.15em;
}

.bg-dark {
  background-color: var(--surface-a);
}
.text-dark {
  color: var(--surface-a);
}
.border-dark {
  border-color: var(--surface-a);
}
