.container {
  margin: 1vh 2vw;
}
.searchEngine-container {
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  bottom: 10vh;

  padding: 10px;

  border-radius: 10px;
  border: 10px;
  border-style: solid;
  border-color: #fff;
  color: $primary-color;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.w-full {
  width: 100%t;
}
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-conent-center {
  justify-content: center !important;
}
.justify-conent-around {
  justify-content: around !important;
}
